# Python
__pycache__/
*.pyc
venv/
env/
.env

# MacOS
.DS_Store

# Data & Docker Volumes
qdrant_data/
n8n_data/
ingest_folder/
*.pdf

# Evaluation Data (Optional to ignore, but good so large CSVs aren't pushed excessively)
# evaluation/*.csv
evaluation/temp.txt

# Frontend
web_app/node_modules/
