watchdog==4.0.0
llama_cloud>=1.0
python-dotenv==1.0.1
httpx
ollama
easyocr
langchain-text-splitters
langchain-core
qdrant-client[fastembed]
FlagEmbedding==1.3.5
transformers==4.50.1
torch
sentencepiece
Pillow